<footer class="container-fluid footer alert-primary">
  <div class="container text-muted p-1">
  <div class="row">
    <span class="col-6 credit text-left"><%= t('copyright') %></span>
    <span class="col-6 align-middle">
    <ul class="list-inline list-unstyled float-right mb-0">
      <li class="list-inline-item"><%= link_to t('menu.about'),   about_path, class: "text-dark" %></li>
      <li class="list-inline-item"><%= link_to t('menu.contact'), contact_path, class: "text-dark" %></li>
      <li class="list-inline-item"><%= link_to t('menu.news'), "http://news.railstutorial.org/", class: "text-dark"%></a></li>
    </ul>
  </div>
  </div>
</footer>